In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
df = pd.read_csv("hf://datasets/lukebarousse/data_jobs/data_jobs.csv")
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.loc[0:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [8]:
#A lot of values are missing, so we will fill them with median values - typical, used for machine learning
medium_salary_year = df['salary_year_avg'].median()

In [9]:
medium_salary_hour = df['salary_hour_avg'].median()

In [6]:
# How to fill the median values without changing the initial dataframe?
df_filled = df

In [11]:
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(medium_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(medium_salary_hour)

In [12]:
df.loc[0:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [13]:
#Now, how to drop duplicates?
df_unique = df_filled

In [15]:
df_unique = df_unique.drop_duplicates()

In [16]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])